.mypage_container {
    height: 95vh;
    width: 100%;
    padding-top: 50px;
    padding-left:7vw;
    padding-right:7vw;
    align-items: center;
}

.mypage_left {
    width: 33%;
    float: left;
    text-align: center;
    align-items: center;
}

.profile_pic {
    width: 80%;
    border-radius: 25px;
}

.mypage_right {
    width: 65%;
    float: right;
    align-items: center;
}

.userinfo_description {
    width: 50vw;
    padding-left: 30vw;
}
.address_info {
    padding-top: 30px;
}